@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.js-loading .loading + .slide {
	display: none;
}
body {
	background-color: #333;
	font-family: "Roboto", sans-serif;
}
.loading {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: #333;
	color: #fff;
	z-index: 999;
}
.js-loading .loading {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s linear;
}
.js-loading .loading.fade {
	opacity: 0;
}
.slider {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.slider .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.slider .slide.active {
	opacity: 1;
}
.slider .slide .content {
	position: absolute;
	left: -600px;
	max-width: 600px;
	opacity: 0;
	bottom: 1rem;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.8);
	transition: all 1.5s ease-in-out 1s;
}
.slider .slide.active .content {
	opacity: 1;
	left: 1rem;
	transition: all 0.7s ease-in-out 0.5s;
}
#enter {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
#enter a.learn-more {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	width: 20rem;
	height: auto;
	border-radius: 1.625rem;
	background-color: rgba(255, 255, 255, 0.7);
}
#enter a.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #282936;
	border-radius: 1.625rem;
}
#enter a.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}
#enter a.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
#enter a.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}
#enter a.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}
#enter a:hover .circle {
	width: 100%;
}
#enter a:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}
#enter a:hover .button-text {
	color: #fff;
}
@media (max-width: 600px) {
	.slider .slide .content {
		width: 100%;
		left: 0;
		bottom: -600px;
	}
	.slider .slide.active .content {
		left: 0;
		transform: translateY(-600px);
	}
}
