<% include ../partials/header %>
<div class="container">
  <form action="/blogs" method="POST" class="text-center border border-light p-5 col-lg-7 col-sm-12 ml-auto mr-auto mt-5">

      <p class="h4 mb-4">Create New Blog</p>

      <div class="md-form">
        <input type="text" id="name" class="form-control" name="name">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s12">
        <select name="category">
          <option disabled selected>Choose your option</option>
          <option value="Work">Work</option>
          <option value="Sport">Sport</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Technology">Technology</option>
        </select>
        <label>Category</label>
      </div>
      <div class="md-form">
        <input type="text" id="image" class="form-control" name="image">
        <label for="image">Image</label>
      </div>

      <div class="md-form">
        <textarea id="form7" class="md-textarea form-control" name="description" rows="3"></textarea>
        <label for="form7">Description</label>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Submit</button>


  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>
<% include ../partials/footer %>